html {
    text-size-adjust: 100%;
}

body {
    margin: 0;
    font: 16px / 1 sans-serif;
    width: 95%;
    margin: auto;
}


.flex1 {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background: #f3f3f3;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 15px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
}
.flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

div img {
    border: 1px solid black;
    margin: 10px;
}

nav img {
    padding-top: 10px;
}

nav li {
    display: flex;
}
